@use "../../variables" as vars;
@use "../../mixins" as shared;
/* ---------------------------------------------------
Carousel
--------------------------------------------------- */

/// `Carousel: Rotate Left Out Animation`
/// animates from center to the left with a rotation.
///
/// @group Animations: Carousel
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include carousel-rotate-left-out(300ms, ease-in);
///   }
///

/* ---------------------------------------------------
Keyframes
--------------------------------------------------- */
$_carousel_rotate_left_out_keyframes-rendered: false !default;
@mixin carousel-rotate-left-out-keyframes() {
	@if $_carousel_rotate_left_out_keyframes-rendered == false {
		$_carousel_rotate_left_out_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(carousel-rotate-left-out) {
					0% {
					}
					100% {
						transform: translateX(-200%) scale(.4) rotateY(-65deg);
						opacity: .3;
					}
				}
		}
	}
}

$_carousel_rotate_left_in_keyframes-rendered: false !default;
@mixin carousel-rotate-left-in-keyframes() {
	@if $_carousel_rotate_left_in_keyframes-rendered == false {
		$_carousel_rotate_left_in_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(carousel-rotate-left-in) {
					0% {
						transform: translateX(200%) scale(.4) rotateY(65deg);
						opacity: .3;
					}
				}
		}
	}
}

$_carousel_rotate_right_out_keyframes-rendered: false !default;
@mixin carousel-rotate-right-out-keyframes() {
	@if $_carousel_rotate_right_out_keyframes-rendered == false {
		$_carousel_rotate_right_out_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(carousel-rotate-right-out) {
					0% {
					}
					100% {
						transform: translateX(200%) scale(.4) rotateY(65deg);
						opacity: .3;
					}
				}
		}
	}
}

$_carousel_rotate_right_in_keyframes-rendered: false !default;
@mixin carousel-rotate-right-in-keyframes() {
	@if $_carousel_rotate_right_in_keyframes-rendered == false {
		$_carousel_rotate_right_in_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(carousel-rotate-right-in) {
					0% {
						transform: translateX(-200%) scale(.4) rotateY(-65deg);
						opacity: .3;
					}
				}
		}
	}
}

$_carousel_rotate_top_out_keyframes-rendered: false !default;
@mixin carousel-rotate-top-out-keyframes() {
	@if $_carousel_rotate_top_out_keyframes-rendered == false {
		$_carousel_rotate_top_out_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(carousel-rotate-top-out) {
					0% {
					}
					100% {
						transform: translateY(-200%) scale(.4) rotateY(65deg);
						opacity: .3;
					}
				}
		}
	}
}

$_carousel_rotate_top_in_keyframes-rendered: false !default;
@mixin carousel-rotate-top-in-keyframes() {
	@if $_carousel_rotate_top_in_keyframes-rendered == false {
		$_carousel_rotate_top_in_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(carousel-rotate-top-in) {
					0% {
						transform: translateY(200%) scale(.4) rotateY(-65deg);
						opacity: .3;
					}
				}
		}
	}
}

$_carousel_rotate_bottom_out_keyframes-rendered: false !default;
@mixin carousel-rotate-bottom-out-keyframes() {
	@if $_carousel_rotate_bottom_out_keyframes-rendered == false {
		$_carousel_rotate_bottom_out_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(carousel-rotate-bottom-out) {
					0% {
					}
					100% {
						transform: translateY(200%) scale(.4) rotateY(-65deg);
						opacity: .3;
					}
				}
		}
	}
}

$_carousel_rotate_bottom_in_keyframes-rendered: false !default;
@mixin carousel-rotate-bottom-in-keyframes() {
	@if $_carousel_rotate_bottom_in_keyframes-rendered == false {
		$_carousel_rotate_bottom_in_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(carousel-rotate-bottom-in) {
					0% {
						opacity: .3;
						transform: translateY(-200%) scale(.4) rotateX(65deg);
					}
				}
		}
	}
}

@mixin carousel-rotate-left-out($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 100% 50%;
	animation: carousel-rotate-left-out $transition-duration $transition-ease-method both;
	@include carousel-rotate-left-out-keyframes();
}

/// `Carousel: Rotate Left In Animation`
/// animates from left to the center with a rotation.
///
/// @group Animations: Carousel
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include carousel-rotate-left-in(300ms, ease-in);
///   }
///
@mixin carousel-rotate-left-in($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 0 50%;
	animation: carousel-rotate-left-in $transition-duration $transition-ease-method both;
	@include carousel-rotate-left-in-keyframes();
}

/// `Carousel: Rotate Right Out Animation`
/// animates from center to the right with a rotation.
///
/// @group Animations: Carousel
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include carousel-rotate-right-out(300ms, ease-in);
///   }
///
@mixin carousel-rotate-right-out($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 0 50%;
	animation: carousel-rotate-right-out $transition-duration $transition-ease-method both;
	@include carousel-rotate-right-out-keyframes();
}

/// `Carousel: Rotate Right In Animation`
/// animates from right to the center with a rotation.
///
/// @group Animations: Carousel
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include carousel-rotate-right-in(300ms, ease-in);
///   }
///
@mixin carousel-rotate-right-in($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 100% 50%;
	animation: carousel-rotate-right-in $transition-duration $transition-ease-method both;
	@include carousel-rotate-right-in-keyframes();
}

/// `Carousel: Rotate Top Out Animation`
/// animates from center to the top with a rotation.
///
/// @group Animations: Carousel
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include carousel-rotate-top-out(300ms, ease-in);
///   }
///
@mixin carousel-rotate-top-out($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 100%;
	animation: carousel-rotate-top-out $transition-duration $transition-ease-method both;
	@include carousel-rotate-top-out-keyframes();
}

/// `Carousel: Rotate Top In Animation`
/// animates from top to the center with a rotation.
///
/// @group Animations: Carousel
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include carousel-rotate-top-in(300ms, ease-in);
///   }
///
@mixin carousel-rotate-top-in($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 0%;
	animation: carousel-rotate-top-in $transition-duration $transition-ease-method both;
	@include carousel-rotate-top-in-keyframes();
}

/// `Carousel: Rotate Bottom Out Animation`
/// animates from center to the bottom with a rotation.
///
/// @group Animations: Carousel
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include carousel-rotate-bottom-out(300ms, ease-in);
///   }
///
@mixin carousel-rotate-bottom-out($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 0;
	animation: carousel-rotate-bottom-out $transition-duration $transition-ease-method both;
	@include carousel-rotate-bottom-out-keyframes();
}

/// `Carousel: Rotate Bottom In Animation`
/// animates from bottom to the center with a rotation.
///
/// @group Animations: Carousel
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include carousel-rotate-bottom-in(300ms, ease-in);
///   }
///
@mixin carousel-rotate-bottom-in($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 100%;
	animation: carousel-rotate-bottom-in $transition-duration $transition-ease-method both;
	@include carousel-rotate-bottom-in-keyframes();
}
