@use "../../variables" as vars;
@use "../../mixins" as shared;
/* ---------------------------------------------------
Fold and Unfold
--------------------------------------------------- */

/*
Fold
----------------------------- */

/// `Fold: Left`
/// animates from center to the left with a folding movement.
///
/// @group Animations: Fold & Unfold
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include fold-left(300ms, ease-in);
///   }
///

/* ---------------------------------------------------
Keyframes
--------------------------------------------------- */
$_fold_left_keyframes-rendered: false !default;
@mixin fold-left-keyframes() {
	@if $_fold_left_keyframes-rendered == false {
		$_fold_left_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(rotate-fold-left) {
					from {
					}
					to {
						transform: translateX(-100%) rotateY(-90deg);
						opacity: 0;
					}
				}
		}
	}
}

$_fold_right_keyframes-rendered: false !default;
@mixin fold-right-keyframes() {
	@if $_fold_right_keyframes-rendered == false {
		$_fold_right_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(rotate-fold-right) {
					from {
					}
					to {
						transform: translateX(100%) rotateY(90deg);
						opacity: 0;
					}
				}
		}
	}
}

$_fold_top_keyframes-rendered: false !default;
@mixin fold-top-keyframes() {
	@if $_fold_top_keyframes-rendered == false {
		$_fold_top_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(rotate-fold-top) {
					from {
					}
					to {
						transform: translateY(-100%) rotateX(90deg);
						opacity: 0;
					}
				}
		}
	}
}

$_fold_bottom_keyframes-rendered: false !default;
@mixin fold-bottom-keyframes() {
	@if $_fold_bottom_keyframes-rendered == false {
		$_fold_bottom_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(rotate-fold-bottom) {
					from {
					}
					to {
						transform: translateY(100%) rotateX(-90deg);
						opacity: 0;
					}
				}
		}
	}
}

$_unfold_left_keyframes-rendered: false !default;
@mixin unfold-left-keyframes() {
	@if $_unfold_left_keyframes-rendered == false {
		$_unfold_left_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(rotate-unfold-left) {
					from {
						transform: translateX(-100%) rotateY(-90deg);
						opacity: 0;
					}
				}
		}
	}
}

$_unfold_right_keyframes-rendered: false !default;
@mixin unfold-right-keyframes() {
	@if $_unfold_right_keyframes-rendered == false {
		$_unfold_right_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(rotate-unfold-right) {
					from {
						transform: translateX(100%) rotateY(90deg);
						opacity: 0;
					}
				}
		}
	}
}

$_unfold_top_keyframes-rendered: false !default;
@mixin unfold-top-keyframes() {
	@if $_unfold_top_keyframes-rendered == false {
		$_unfold_top_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(rotate-unfold-top) {
					from {
						transform: translateY(-100%) rotateX(90deg);
						opacity: 0;
					}
				}
		}
	}
}

$_unfold_bottom_keyframes-rendered: false !default;
@mixin unfold-bottom-keyframes() {
	@if $_unfold_bottom_keyframes-rendered == false {
		$_unfold_bottom_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(rotate-unfold-bottom) {
					from {
						transform: translateY(100%) rotateX(-90deg);
						opacity: 0;
					}
				}
		}
	}
}

@mixin fold-left($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 100% 50%;
	animation: rotate-fold-left $transition-duration $transition-ease-method both;
	@include fold-left-keyframes();
}

/// `Fold: Right`
/// animates from center to the right with a folding movement.
///
/// @group Animations: Fold & Unfold
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include fold-right(300ms, ease-in);
///   }
///
@mixin fold-right($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 0% 50%;
	animation: rotate-fold-right $transition-duration $transition-ease-method both;
	@include fold-right-keyframes();
}

/// `Fold: Top`
/// animates from center to the top with a folding movement.
///
/// @group Animations: Fold & Unfold
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include fold-top(300ms, ease-in);
///   }
///
@mixin fold-top($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 100%;
	animation: rotate-fold-top $transition-duration $transition-ease-method both;
	@include fold-top-keyframes();
}

/// `Fold: Bottom`
/// animates from center to the bottom with a folding movement.
///
/// @group Animations: Fold & Unfold
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include fold-bottom(300ms, ease-in);
///   }
///
@mixin fold-bottom($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 0%;
	animation: rotate-fold-bottom $transition-duration $transition-ease-method both;
	@include fold-bottom-keyframes();
}

/*
Unfold
----------------------------- */

/// `Unfold: Left`
/// animates from left to the center with a unfolding movement.
///
/// @group Animations: Fold & Unfold
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include unfold-left(300ms, ease-in);
///   }
///
@mixin unfold-left($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 100% 50%;
	animation: rotate-unfold-left $transition-duration $transition-ease-method both;
	@include unfold-left-keyframes();
}

/// `Unfold: Right`
/// animates from right to the center with a unfolding movement.
///
/// @group Animations: Fold & Unfold
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include unfold-right(300ms, ease-in);
///   }
///
@mixin unfold-right($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 0% 50%;
	animation: rotate-unfold-right $transition-duration $transition-ease-method both;
	@include unfold-right-keyframes();
}

/// `Unfold: Top`
/// animates from top to the center with a unfolding movement.
///
/// @group Animations: Fold & Unfold
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include unfold-top(300ms, ease-in);
///   }
///
@mixin unfold-top($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 100%;
	animation: rotate-unfold-top $transition-duration $transition-ease-method both;
	@include unfold-top-keyframes();
}

/// `Unfold: Bottom`
/// animates from bottom to the center with a unfolding movement.
///
/// @group Animations: Fold & Unfold
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include unfold-bottom(300ms, ease-in);
///   }
///
@mixin unfold-bottom($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 0%;
	animation: rotate-unfold-bottom $transition-duration $transition-ease-method both;
	@include unfold-bottom-keyframes();
}

/* ---------------------------------------------------
KEYFRAMES: FOLD AND UNFOLD
--------------------------------------------------- */
