@import "../../variables";
@import "../../mixins";
/* ---------------------------------------------------
Move From To Fade
--------------------------------------------------- */

/*
Move From To
----------------------------- */

/// `Move: To Left`
/// animates from center to the left.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-left(300ms, ease-in);
///   }
///
@mixin move-to-left($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-to-left $transition-duration $transition-ease-method both;
}

/// `Move: From Left`
/// animates from left to the center.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-left(300ms, ease-in);
///   }
///
@mixin move-from-left($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-from-left $transition-duration $transition-ease-method both;
}

/// `Move: To Right`
/// animates from center to the right.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-right(300ms, ease-in);
///   }
///
@mixin move-to-right($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-to-right $transition-duration $transition-ease-method both;
}

/// `Move: From Right`
/// animates from right to the center.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-right(300ms, ease-in);
///   }
///
@mixin move-from-right($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-from-right $transition-duration $transition-ease-method both;
}

/// `Move: To Top`
/// animates from center to the top.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-top(300ms, ease-in);
///   }
///
@mixin move-to-top($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-to-top $transition-duration $transition-ease-method both;
}

/// `Move: From Top`
/// animates from top to the center.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-top(300ms, ease-in);
///   }
///
@mixin move-from-top($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-from-top $transition-duration $transition-ease-method both;
}

/// `Move: To Bottom`
/// animates from center to the bottom.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-bottom(300ms, ease-in);
///   }
///
@mixin move-to-bottom($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-to-bottom $transition-duration $transition-ease-method both;
}

/// `Move: From Bottom`
/// animates from bottom to the center.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-bottom(300ms, ease-in);
///   }
///
@mixin move-from-bottom($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-from-bottom $transition-duration $transition-ease-method both;
}

/*
Fade
----------------------------- */
/// `Fade`
/// animates opacity.
///
/// @group Animations: Fade
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include fade-it(300ms, ease-in);
///   }
///
@mixin fade-it($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: fade $transition-duration $transition-ease-method both;
}

/*
Move From To and Fade
----------------------------- */

/// `Move: To Left With Fade`
/// animates from center to the left with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-left-fade(300ms, ease-in);
///   }
///
@mixin move-to-left-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-to-left-fade $transition-duration $transition-ease-method both;
}

/// `Move: From Left With Fade`
/// animates from left to the center with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-left-fade(300ms, ease-in);
///   }
///
@mixin move-from-left-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-from-left-fade $transition-duration $transition-ease-method both;
}

/// `Move: To Right With Fade`
/// animates from center to the right with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-right-fade(300ms, ease-in);
///   }
///
@mixin move-to-right-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-to-right-fade $transition-duration $transition-ease-method both;
}

/// `Move: From Right With Fade`
/// animates from right to the center with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-right-fade(300ms, ease-in);
///   }
///
@mixin move-from-right-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-from-right-fade $transition-duration $transition-ease-method both;
}

/// `Move: To Top With Fade`
/// animates from center to the top with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-top-fade(300ms, ease-in);
///   }
///
@mixin move-to-top-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-to-top-fade $transition-duration $transition-ease-method both;
}

/// `Move: From Top With Fade`
/// animates from top to the center with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-top-fade(300ms, ease-in);
///   }
///
@mixin move-from-top-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-from-top-fade $transition-duration $transition-ease-method both;
}

/// `Move: To Bottom With Fade`
/// animates from center to the bottom with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-bottom-fade(300ms, ease-in);
///   }
///
@mixin move-to-bottom-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-to-bottom-fade $transition-duration $transition-ease-method both;
}

/// `Move: From Bottom With Fade`
/// animates from bottom to the center with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-bottom-fade(300ms, ease-in);
///   }
///
@mixin move-from-bottom-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: move-from-bottom-fade $transition-duration $transition-ease-method both;
}

/* ---------------------------------------------------
Keyframes: MOVE FROM TO AND FADE
--------------------------------------------------- */

@include keyframes(move-to-left) {
	from {
	}
	to {
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
	}
}

@include keyframes(move-from-left) {
	from {
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
	}
}

@include keyframes(move-to-right) {
	from {
	}
	to {
		transform: translateX(100%);
		transform: translate3d(100%, 0, 0);
	}
}

@include keyframes(move-from-right) {
	from {
		transform: translateX(100%);
		transform: translate3d(100%, 0, 0);
	}
}

@include keyframes(move-to-top) {
	from {
	}
	to {
		transform: translateY(-100%);
		transform: translate3d(0, -100%, 0);
	}
}

@include keyframes(move-from-top) {
	from {
		transform: translateY(-100%);
		transform: translate3d(0, -100%, 0);
	}
}

@include keyframes(move-to-bottom) {
	from {
	}
	to {
		transform: translateY(100%);
		transform: translate3d(0, 100%, 0);
	}
}

@include keyframes(move-from-bottom) {
	from {
		transform: translateY(100%);
		transform: translate3d(0, 100%, 0);
	}
}

/* fade */
@include keyframes(fade) {
	from {
	}
	to {
		opacity: 0;
	}
}

/* move from / to and fade */
@include keyframes(move-to-left-fade) {
	from {
	}
	to {
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
		opacity: 0;
	}
}

@include keyframes(move-from-left-fade) {
	from {
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
		opacity: 0;
	}
}

@include keyframes(move-to-right-fade) {
	from {
	}
	to {
		transform: translateX(100%);
		transform: translate3d(100%, 0, 0);
		opacity: 0;
	}
}

@include keyframes(move-from-right-fade) {
	from {
		transform: translateX(100%);
		transform: translate3d(100%, 0, 0);
		opacity: 0;
	}
}

@include keyframes(move-to-top-fade) {
	from {
	}
	to {
		transform: translateY(-100%);
		transform: translate3d(0, -100%, 0);
		opacity: 0;
	}
}

@include keyframes(move-from-top-fade) {
	from {
		transform: translateY(-100%);
		transform: translate3d(0, -100%, 0);
		opacity: 0;
	}
}

@include keyframes(move-to-bottom-fade) {
	from {
	}
	to {
		transform: translateY(100%);
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}

@include keyframes(move-from-bottom-fade) {
	from {
		transform: translateY(100%);
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}

