@use "../../variables" as vars;
@use "../../mixins" as shared;
/* ---------------------------------------------------
Rotate Newspaper
--------------------------------------------------- */

/// `Newspaper: Rotate Out`
/// animates element with a rotation and fade out effect.
///
/// @group Animations: Newspaper
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include newspaper-out(300ms, ease-in);
///   }
///

/* ---------------------------------------------------
Keyframes
--------------------------------------------------- */
$_newspaper_out_keyframes-rendered: false !default;
@mixin newspaper-out-keyframes() {
	@if $_newspaper_out_keyframes-rendered == false {
		$_newspaper_out_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(newspaper-rotate-out) {
					from {
					}
					to {
						opacity: 0;
						transform: translateZ(-3000px) rotateZ(360deg);
					}
				}
		}
	}
}

$_newspaper_in_keyframes-rendered: false !default;
@mixin newspaper-in-keyframes() {
	@if $_newspaper_in_keyframes-rendered == false {
		$_newspaper_in_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(newspaper-rotate-in) {
					from {
						opacity: 0;
						transform: translateZ(-3000px) rotateZ(-360deg);
					}
				}
		}
	}
}

@mixin newspaper-out($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 50%;
	animation: newspaper-rotate-out $transition-duration ease-in both;
	@include newspaper-out-keyframes();
}

/// `Newspaper: Rotate In`
/// animates element with a rotation and fade in effect.
///
/// @group Animations: Newspaper
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include newspaper-in(300ms, ease-in);
///   }
///
@mixin newspaper-in($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	transform-origin: 50% 50%;
	animation: newspaper-rotate-in $transition-duration ease-out both;
	@include newspaper-in-keyframes();
}
