@use "../../variables" as vars;
@use "../../mixins" as shared;
/* ---------------------------------------------------
Scale and Fade
--------------------------------------------------- */

/// `Scale: Down`
/// animates element scaling factor and opacity.
///
/// @group Animations: Scale
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include scale-down(300ms, ease-in);
///   }
///

/* ---------------------------------------------------
Keyframes
--------------------------------------------------- */
$_scale_down_keyframes-rendered: false !default;
@mixin scale-down-keyframes() {
	@if $_scale_down_keyframes-rendered == false {
		$_scale_down_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(scale-down) {
					from {
					}
					to {
						opacity: 0;
						transform: scale(.8);
					}
				}
		}
	}
}

$_scale_up_keyframes-rendered: false !default;
@mixin scale-up-keyframes() {
	@if $_scale_up_keyframes-rendered == false {
		$_scale_up_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(scale-up) {
					from {
						opacity: 0;
						transform: scale(.8);
					}
				}
		}
	}
}

$_scale_down_center_keyframes-rendered: false !default;
@mixin scale-down-center-keyframes() {
	@if $_scale_down_center_keyframes-rendered == false {
		$_scale_down_center_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(scale-down-center) {
					from {
					}
					to {
						transform: scale(.7);
					}
				}
		}
	}
}

$_scale_up_center_keyframes-rendered: false !default;
@mixin scale-up-center-keyframes() {
	@if $_scale_up_center_keyframes-rendered == false {
		$_scale_up_center_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(scale-up-center) {
					from {
						opacity: 0;
						transform: scale(.7);
					}
				}
		}
	}
}

@mixin scale-down($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	animation: scale-down $transition-duration $transition-ease-method both;
	@include scale-down-keyframes();
}

/// `Scale: Up`
/// animates element scaling factor and opacity.
///
/// @group Animations: Scale
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include scale-up(300ms, ease-in);
///   }
///
@mixin scale-up($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	animation: scale-up $transition-duration $transition-ease-method both;
	@include scale-up-keyframes();
}
/// `Scale: Down Center`
/// animates element scaling factor.
///
/// @group Animations: Scale
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include scale-down-center(300ms, ease-in);
///   }
///
@mixin scale-down-center($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	animation: scale-down-center $transition-duration $transition-ease-method both;
	@include scale-down-center-keyframes();
}

/// `Scale: Up Center`
/// animates element scaling factor.
///
/// @group Animations: Scale
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include scale-up-center(300ms, ease-in);
///   }
///
@mixin scale-up-center($transition-duration: vars.$transition-duration, $transition-ease-method: vars.$transition-ease-method) {
	animation: scale-up-center $transition-duration $transition-ease-method both;
	@include scale-up-center-keyframes();
}
