@import "../../variables";
@import "../../mixins";
@import "fb-setup";
/* ---------------------------------------------------
Simple Border
--------------------------------------------------- */
@mixin fb-border-simple($border: $animation-border, $transition-duration: $transition-duration, $transition-ease-method: ease-out forwards, $fbClass: false) {

	&::after {
		border: $border;
	}

	@if $fbClass {
		&.#{$fbClass} {
			&::after {
				animation: fb-border-simple $transition-duration $transition-ease-method
			}
		}
	} @else {
		&:hover {
			&::after {
				animation: fb-border-simple $transition-duration $transition-ease-method
			}
		}
	}
}

/*
Extend
----------------------- */
%fb-border-simple {
	@include fb-border-simple();
}

/*
Simple Border Animation
----------------------------- */
@include keyframes(fb-border-simple) {
	0% {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1)
	}
	to {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1)
	}
}

