@use "../../variables" as vars;
@use "../../mixins" as shared;
@use "fb-setup";
/* ---------------------------------------------------
Multiple Border
--------------------------------------------------- */

/* ---------------------------------------------------
Keyframes
--------------------------------------------------- */
$_fb_border_multiple_keyframes-rendered: false !default;
@mixin fb-border-multiple-keyframes() {
	@if $_fb_border_multiple_keyframes-rendered == false {
		$_fb_border_multiple_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(fb-border-multiple1) {
					0% {
					opacity: 1;
					transform: scale3d(0.5, 0.5, 1)
				}
					100% {
						opacity: 0;
						transform: scale3d(1.1, 1.1, 1)
					}
				}

		@include shared.keyframes(fb-border-multiple2) {
					0% {
						opacity: 1;
						transform: scale3d(0.5, 0.5, 1)
					}
					50%, 100% {
						opacity: 0;
						transform: scale3d(1.2, 1.2, 1)
					}
				}
		}
	}
}

@mixin fb-border-multiple($shadow: vars.$animation-shadow, $transition-duration: vars.$transition-duration, $transition-ease-method: forwards, $fbClass: false) {

	&::after,
	&::before {
		box-shadow: $shadow;
	}

	@if $fbClass {
		&.#{$fbClass} {
			&::before {
				animation: fb-border-multiple1 $transition-duration $transition-ease-method
			}
			&::after {
				animation: fb-border-multiple2 $transition-duration $transition-ease-method
			}
		}
	} @else {
		&:hover {
			&::before {
				animation: fb-border-multiple1 $transition-duration $transition-ease-method
			}
			&::after {
				animation: fb-border-multiple2 $transition-duration $transition-ease-method
			}
		}
	}
	@include fb-border-multiple-keyframes();
}

/*
Extend
----------------------- */
%fb-border-multiple {
	@include fb-border-multiple();

	&::before {
		@include fb-setup.fb-setup-pseudo();
	}
}
