@import "../../variables";
@import "../../mixins";
@import "fb-setup";
/* ---------------------------------------------------
Circle with Delay
--------------------------------------------------- */
@mixin fb-circle-delay($bgColor: $animation-bg-color, $transition-duration: 1s, $transition-ease-method: ease-out forwards, $fbClass: false) {

	&::after {
		background: $bgColor;
	}

	@if $fbClass {
		&.#{$fbClass} {
			&::after {
				animation: fb-circle-delay $transition-duration $transition-ease-method;
			}
		}
	} @else {
		&:hover {
			&::after {
				animation: fb-circle-delay $transition-duration $transition-ease-method;
			}
		}
	}
}

/*
Extend
----------------------- */
%fb-circle-delay {
	@include fb-circle-delay();
}

/*
Keyframes
----------------------- */
@include keyframes(fb-circle-delay){
	0% {
		transform: scale3d(0.5, 0.5, 1);
		opacity: 1;
	}
	25% {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1);
		opacity: 0;
	}
}

