@import "../../variables";
@import "../../mixins";
@import "fb-setup";
/* ---------------------------------------------------
Simple Circle
--------------------------------------------------- */
@mixin fb-circle-shrink($bgColor: $animation-bg-color, $transition-duration: $transition-duration, $transition-ease-method: forwards, $fbClass: false) {

	&::after {
		background: $bgColor;
	}

	@if $fbClass {
		&.#{$fbClass} {
			&::after {
				animation: fb-circle-shrink $transition-duration $transition-ease-method;
			}
		}
	} @else {
		&:hover {
			&::after {
				animation: fb-circle-shrink $transition-duration $transition-ease-method;
			}
		}
	}
}

/*
Extend
----------------------- */
%fb-circle-shrink {
	@include fb-circle-shrink();
}

/*
Simple Circle Animation
----------------------------- */
@include keyframes(fb-circle-shrink) {
	0% {
			opacity: 0;
			transform: scale3d(0.2, 0.2, 1);
		}
		50% {
			opacity: 1;
			transform: scale3d(1.2, 1.2, 1);
		}
		100% {
			opacity: 0;
			transform: scale3d(0.8, 0.8, 1);
		}
}

