@use "../../variables" as vars;
@use "../../mixins" as shared;
@use "fb-setup";
/* ---------------------------------------------------
Simple Circle
--------------------------------------------------- */

/* ---------------------------------------------------
Keyframes
--------------------------------------------------- */
$_fb_circle_shrink_keyframes-rendered: false !default;
@mixin fb-circle-shrink-keyframes() {
	@if $_fb_circle_shrink_keyframes-rendered == false {
		$_fb_circle_shrink_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(fb-circle-shrink) {
					0% {
							opacity: 0;
							transform: scale3d(0.2, 0.2, 1);
						}
						50% {
							opacity: 1;
							transform: scale3d(1.2, 1.2, 1);
						}
						100% {
							opacity: 0;
							transform: scale3d(0.8, 0.8, 1);
						}
				}
		}
	}
}

@mixin fb-circle-shrink($bgColor: vars.$animation-bg-color, $transition-duration: vars.$transition-duration, $transition-ease-method: forwards, $fbClass: false) {

	&::after {
		background: $bgColor;
	}

	@if $fbClass {
		&.#{$fbClass} {
			&::after {
				animation: fb-circle-shrink $transition-duration $transition-ease-method;
			}
		}
	} @else {
		&:hover {
			&::after {
				animation: fb-circle-shrink $transition-duration $transition-ease-method;
			}
		}
	}
	@include fb-circle-shrink-keyframes();
}

/*
Extend
----------------------- */
%fb-circle-shrink {
	@include fb-circle-shrink();
}
