@use "../../variables" as vars;
@use "../../mixins" as shared;
@use "fb-setup";
/* ---------------------------------------------------
Circle Revert
--------------------------------------------------- */

/* ---------------------------------------------------
Keyframes
--------------------------------------------------- */
$_fb_circle_revert_keyframes-rendered: false !default;
@mixin fb-circle-revert-keyframes() {
	@if $_fb_circle_revert_keyframes-rendered == false {
		$_fb_circle_revert_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(fb-circle-revert) {
					0% {
						opacity: 1;
					}
					100% {
						opacity: 0;
					}
				}
		}
	}
}

@mixin fb-circle-revert($bgColor: vars.$animation-bg-color, $transition-duration: vars.$transition-duration, $transition-ease-method: ease-out forwards, $fbClass: false) {

	&::after {
		background: $bgColor;
	}

	@if $fbClass {
		&.#{$fbClass} {
			&::after {
				animation: fb-circle-revert $transition-duration $transition-ease-method;
			}
		}
	} @else {
		&:hover {
			&::after {
				animation: fb-circle-revert $transition-duration $transition-ease-method;
			}
		}
	}
	@include fb-circle-revert-keyframes();
}

/*
Extend
----------------------- */
%fb-circle-revert {
	@include fb-circle-revert();
}
