@use "../../variables" as vars;
@use "../../mixins" as shared;
@use "fb-setup";
/* ---------------------------------------------------
Simple Circle
--------------------------------------------------- */

/* ---------------------------------------------------
Keyframes
--------------------------------------------------- */
$_fb_circle_big_keyframes-rendered: false !default;
@mixin fb-circle-big-keyframes() {
	@if $_fb_circle_big_keyframes-rendered == false {
		$_fb_circle_big_keyframes-rendered: true !global;

		@at-root {

		@include shared.keyframes(fb-circle-big) {
					0% {
						transform: scale3d(0.1, 0.1, 1)
		
					}
					25%, 50% {
						opacity: 1;
					}
					to {
						opacity: 0;
						transform: scale3d(8, 8, 1)
					}
				}
		}
	}
}

@mixin fb-circle-big($bgColor: vars.$animation-bg-color, $transition-duration: vars.$transition-duration, $transition-ease-method: forwards, $fbClass: false) {

     &::after {		background: $bgColor;
	}

	@if $fbClass {
		&.#{$fbClass} {
			&::after {
				animation: fb-circle-big $transition-duration $transition-ease-method
			}
		}
	} @else {
		&:hover {
			&::after {
				animation: fb-circle-big $transition-duration $transition-ease-method
			}
		}
	}
	@include fb-circle-big-keyframes();
}

/*
Extend
----------------------- */
%fb-circle-big {
	@include fb-circle-big();
}
