@import "../../variables";
@import "../../mixins";
@import "fb-setup";
/* ---------------------------------------------------
Simple Circle
--------------------------------------------------- */
@mixin fb-circle-simple($bgColor: $animation-bg-color, $transition-duration: $transition-duration, $transition-ease-method: forwards, $fbClass: false) {

	&::after {
		background: $bgColor;
	}

	@if $fbClass {
		&.#{$fbClass} {
			&::after {
				animation: fb-circle-simple $transition-duration $transition-ease-method;
			}
		}
	} @else {
		&:hover {
			&::after {
				animation: fb-circle-simple $transition-duration $transition-ease-method;
			}
		}
	}
}
/*
Extend
----------------------- */
%fb-circle-simple {
	@include fb-circle-simple();
}

/*
Simple Circle Animation
----------------------------- */
@include keyframes(fb-circle-simple) {
	0% {
		transform: scale3d(0.3, 0.3, 1);

	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}

