@use "sass:list";
@use "sass:math";
/* ===================================================
FEEDBACK ANIMATIONS
=================================================== */

/* ---------------------------------------------------
Standard Values
--------------------------------------------------- */

@mixin fb-setup-pseudo($width: 70px, $height: 70px, $radius: 50%) {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: math.div(-$height, 2) 0 0 math.div(-$width, 2);
	width: $width;
	height: $height;
	border-radius: $radius;
	content: '';
	opacity: 0;
	pointer-events: none;
}

@mixin fb-setup($size: 70px, $radius: 50%) {
	$width: list.nth($size, 1);
	$height: if(list.length($size) == 2, list.nth($size, 2), $width);

	position: relative;
	display: inline-block;
	overflow: visible;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&::after {
		@include fb-setup-pseudo($width: $width, $height: $height, $radius: $radius);
	}
}
